body {
    margin-bottom: 200px;
    font-family: system-ui;
}

.header {
    background-color: white;
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 100;
    padding-bottom: 18px;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);                     
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    margin:25px 0 0 40px;
}

.right-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 5px;
    margin-right: 2rem;
    justify-content: space-around;
}

input[type="text"] {
    border: none;
    background-color: rgb(248, 247, 247);
    padding: 12px 0px 12px 20px;
    border-radius: 15px;
    margin-top: 3px;
    position: relative;
}

input:focus {
    outline: none;
    
}


.search-icon {
    background-color: transparent;
    border:none;
    position: absolute;
    padding-top: 10px;
    transform: translateX(270%);
}

.wish-list-button {
    background:transparent;
    border:none;
    height: 74%;
    width: 87%;
    padding-top: 3px;
    margin-top: 4px;
}

.wish-list-button:hover {
   background-color: rgb(248, 247, 247);
   border-radius: 50%;
}

input {
    padding-left: 20px;
}

.cart-icon {
    cursor: pointer;
    padding-bottom: 7px;
}

.cart-button {
    position:relative;
    background:transparent;
    border:none;
    height: 77%;
    width: 40%;
    padding-top: 6px;
    padding-right: 9px;
    margin-top: 4px;
}
.cart-icon img {
    display:flex;
    align-items:center;
    justify-content: center;
}

.cart-button:hover {
    background-color: rgb(248, 247, 247);
    border-radius: 50%;
}

.cart-icon-bubble {
    position: absolute;
    background-color: rgb(218, 26, 26);
    border-radius: 50%;
    color:white;
    padding: 2px;
    width: 22%;
    height: 27%;
    bottom: 19px;
    left: 26px;
    font-size: 9px;
}

.main-content-image {
    display: flex;
    align-items:center;
    justify-content: space-around;
    height: 244px;
    width: 90%;
    margin: 6rem auto 0 auto;
    position: relative;
    background-color: rgb(45, 51, 107);
    border-radius: 9px;
    overflow: hidden;
    padding: 0 2rem;
}



.top-deals {
    font-size: 14px;
    color: rgb(239, 168, 166);
    font-weight: 500;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.main-content-image img {
    flex-shrink: 0;   
    height: 240px;
    width: auto;
    object-fit: contain;
}

.main-content-image button {
    border: none;
    border-radius: 5px;
    color: rgb(8, 11, 35);
    background-color: white;
    padding: 13px 9px 13px 9px;
    font-size: 11px;
    width: 24%;
    font-weight: 700;
    max-width: 170px;
    margin-top: 15px;
}

.main-content-image button:hover {
    opacity: 0.8;
}

.main-text {
    flex:1;
    max-width: 50%;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    padding-bottom: 1.5rem;
}


.category-buttons-container {
    margin: 1rem 0 0 0.2rem;
}
.category-buttons-container button {
    margin: 2rem 1rem 1rem 2rem;
    border-radius: 19px;
    padding: 10px;
    width: 9%;
    min-width: 75px;
    max-width: 160px;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid rgb(208, 207, 207);
    background-color: transparent;
    color: #001F3F;
}

.category-buttons-container button:hover {
    opacity: 0.8;
    background-color: rgba(247, 247, 247, 0.905);
    
}

.product-card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 150px;
    cursor: pointer;
}

.product-card {
    position: relative;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 9px;
    width: 220px;
    height: 400px;
}

.product-grid {
    padding: 50px 40px 0px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
    justify-items: center;
}

.product-image-container {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.03);
}

.wishlist-button-small img{
    width:17px;
    height: 17px;
}

.wishlist-button-small{
    background: transparent;
    border: none;
    position: absolute;
    bottom: 95%;
    left: 87%;
}

.wishlist-button-small:hover img {
    content: url("https://img.icons8.com/material/24/EFA8A6/like--v1.png");
}

.product-info {
    padding: 10px 15px 0px 15px;
}

.add-to-cart-btn {
    position: absolute;
    bottom: 17px;
    left: 15%;
    border: none;
    border-radius: 17px;
    background-color: rgb(45, 51, 107);
    color: white;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    width: 70%;
    transition: opacity 0.3s ease;
}


.add-to-cart-btn {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.add-to-cart-container button:hover {
    opacity: 0.7;
    
}

.added-to-cart {
    position: absolute;
    display: none;
    text-align:center; 
    font-size: 14px;
    left:24%;
    top:85%;
}

@media (max-width: 480px) {
    .logo {
        font-size: 23px;
        margin: 7px 0 0 20px;
        text-transform: uppercase;
    }

    .input {
        font-size: 13px;
        width: 12rem;
        margin-left:15px;
    }

    .search-icon {
        transform: translateX(118%);
    }

    .main-content-image button {
        width: 50%;
    }

    .main-content-image img {  
        height: 100px;
    }

}

@media (max-width: 700px) {
    .main-content-image {
        height: 170px;
        max-width: 500px;
    }

    .main-text {
        font-size: 1.3rem;
    }
}

@media (min-width:477px) and (max-width: 699px) {
    .main-content-image {
        height: 200px;
    }

    .main-text {
        font-size: 1.5rem;
    }

    .top-deals {
        font-size: 0.9rem;
    }

    .main-content-image button {
        font-size: 0.7rem;
        width: 40%;
    }

    .main-content-image img {  
        height: 140px;
    }
}

@media (min-width: 1420px) {
    .main-content-image {
        height: 300px;
    }

    .main-text {
        font-size: 2.5rem;
    }

    .top-deals {
        font-size: 1.6rem;
    }

    .main-content-image button {
        font-size: 1rem;
    }

    .main-content-image img {  
        height: 300px;
    }
}

@media (max-width: 476px) {
    .main-content-image {
        height: 150px;
        width: 85%;
    }

    .main-text {
        font-size: 1rem;
        padding-right: 0.8rem;
    }

    .top-deals {
        font-size: 0.8rem;
    }

    .main-content-image button {
        font-size: 0.6rem;
    }

    .main-content-image img {  
        height: 110px;
    }

}

@media (max-width: 400px) {
    .main-content-image {
        height: 150px;
        width: 80%;
    }

    .main-text {
        font-size: 0.8rem;
        padding-right: 0.8rem;
    }

    .top-deals {
        font-size: 0.6rem;
    }

    .main-content-image button {
        font-size: 0.4rem;
        margin-top: 0.3rem;
    }

    .main-content-image img {  
        height: 95px;
    }

}