body {
    font-family: sans-serif;
}

.header {
    background-color: white;
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 100;
    padding-bottom: 18px;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);  
}
.top-text {
    margin: 7rem 0 0 5rem;
    font-size: 24px;
    font-weight: 100;
    font-family:  "articulat-cf", sans-serif;
    color: rgb(53, 53, 53);
}
a {
    text-decoration: none;
    color: inherit;
}

.logo {
    margin: 25px 0 0 40px;
}

.right-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 5px;
    margin-right: 2rem;
    justify-content: space-around;
}

input[type="text"] {
    border: none;
    background-color: rgb(248, 247, 247);
    padding: 12px 0px 12px 20px;
    border-radius: 15px;
    margin-top: 3px;
    position: relative;
}

input:focus {
    outline: none;
    
}


.search-icon {
    background-color: transparent;
    border:none;
    position: absolute;
    padding-top: 10px;
    transform: translateX(270%);
}

.wish-list-button {
    background:transparent;
    border:none;
    height: 74%;
    width: 87%;
    padding-top: 3px;
    margin-top: 4px;

}

.wish-list-button:hover {
   background-color: rgb(248, 247, 247);
   border-radius: 50%;
}

input {
    padding-left: 20px;
}

.cart-icon {
    cursor: pointer;
    padding-bottom: 7px;
}

.cart-button {
    position:relative;
    background:transparent;
    border:none;
    height: 77%;
    width: 40%;
    padding-top: 6px;
    padding-right: 9px;
    margin-top: 4px;
}
.cart-icon img {
    display:flex;
    align-items:center;
    justify-content: center;
}

.cart-button:hover {
    background-color: rgb(248, 247, 247);
    border-radius: 50%;
}

.cart-icon-bubble {
    position: absolute;
    background-color: rgb(218, 26, 26);
    border-radius: 50%;
    color:white;
    padding: 2px;
    width: 22%;
    height: 27%;
    bottom: 19px;
    left: 26px;
    font-size: 9px;
}

.product-card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 150px;
    cursor: pointer;
}

.product-card {
    position: relative;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 9px;
    width: 220px;
    height: 350px;
}

.product-grid {
    padding: 10px 70px 0px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 3rem;
    margin-top: 2rem;
}

.product-image-container {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.03);
}

.wish-list-button {
    background:transparent;
    border:none;
    height: 74%;
    width: 87%;
    padding-top: 6px;
    margin-top: 4px;
}

.wishlist-button-small img{
    width:17px;
    height: 17px;
}

.wishlist-button-small{
    background: transparent;
    border: none;
    position: absolute;
    bottom: 95%;
    left: 87%;
}

.product-info {
    padding: 10px 15px 0px 15px;
}


.add-to-cart-btn {
    position: absolute;
    bottom: 17px;
    left: 15%;
    border: none;
    border-radius: 17px;
    background-color: rgb(45, 51, 107);
    color: white;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    width: 70%;
    transition: opacity 0.3s ease;
}


.add-to-cart-btn {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.add-to-cart-container button:hover {
    opacity: 0.7;
    
}

.added-to-cart {
    position: absolute;
    display: none;
    text-align:center; 
    font-size: 14px;
    left:24%;
    top:85%;
}

.empty-cart {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 100;
    margin: 0 0 3rem 0;
}

.no-favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: 100%;
}

.no-favorites-container {
    height: calc(100vh - 32vh);
}

.no-favorites-container a {
    text-decoration: none;
    background-color: transparent;
    padding: 12px 10px 12px 10px;
    border-radius: 8px;
    border: 1px solid rgb(24, 36, 111);
    width: 20%;
    color: rgb(24, 36, 111);
    text-align: center;
    font-size: 12px;
}